In [1]:
import geopandas as gpd
인구분포도 = gpd.read_file('data/서울시 격자 인구 데이터/geojson/dobong.geojson')
인구분포도

           gid    val                                           geometry
0     ㅼ궗585651    0.0  MULTIPOLYGON (((127.02933 37.68450, 127.02933 ...
1     ㅼ궗594644   16.0  MULTIPOLYGON (((127.03958 37.67823, 127.03957 ...
2     ㅼ궗593608  388.0  MULTIPOLYGON (((127.03864 37.64578, 127.03864 ...
3     ㅼ궗591623  432.0  MULTIPOLYGON (((127.03629 37.65929, 127.03629 ...
4     ㅼ궗596628   55.0  MULTIPOLYGON (((127.04193 37.66382, 127.04193 ...
...        ...    ...                                                ...
2221  ㅼ궗578632    NaN  MULTIPOLYGON (((127.02150 37.66735, 127.02150 ...
2222  ㅼ궗581650    NaN  MULTIPOLYGON (((127.02480 37.68358, 127.02479 ...
2223  ㅼ궗600656    NaN  MULTIPOLYGON (((127.04632 37.68908, 127.04631 ...
2224  ㅼ궗576660    NaN  MULTIPOLYGON (((127.01907 37.69257, 127.01907 ...
2225  ㅼ궗576628    NaN  MULTIPOLYGON (((127.01926 37.66373, 127.01925 ...

[2226 rows x 3 columns]